#NOTE: Forge uses SRG names for accesstransformer mapping

# classes
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
public net.minecraft.client.gui.GuiGraphics$ScissorStack

# fields
public-f net.minecraft.client.model.QuadrupedModel f_103492_ # head
public-f net.minecraft.client.model.geom.ModelPart f_104213_ # children
public-f net.minecraft.client.Options f_92059_ # keyMappings
public-f net.minecraft.client.renderer.RenderPipelines f_379621_ # GUI_TEXTURED_SNIPPET
public-f net.minecraft.client.renderer.entity.layers.SlimeOuterLayer f_117455_ # model
public-f net.minecraft.client.renderer.entity.EnderDragonRenderer f_114183_ # model
public-f net.minecraft.client.renderer.entity.LivingEntityRenderer f_115291_ # layers
public-f net.minecraft.client.renderer.GameRenderer f_398707_ # fogRenderer
public-f net.minecraft.client.gui.GuiGraphics f_399111_ # guiRenderState
public-f net.minecraft.client.gui.GuiGraphics f_279587_ # scissorStack
public-f net.minecraft.world.level.biome.BiomeManager f_47863_ # biomeZoomSeed
public-f net.minecraft.client.renderer.texture.AbstractTexture f_437359_ # sampler
public-f net.minecraft.server.level.ServerChunkCache f_8332_ # mainThreadProcessor

# methods
public net.minecraft.client.renderer.fog.FogRenderer m_403695_(Lnet/minecraft/client/Camera;FLnet/minecraft/client/multiplayer/ClientLevel;IF)Lorg/joml/Vector4f; # computeFogColor
public net.minecraft.client.multiplayer.ClientLevel m_104819_()I # getSkyFlashTime
public net.minecraft.client.renderer.rendertype.RenderType m_446098_(Ljava/lang/String;Lnet/minecraft/client/renderer/rendertype/RenderSetup;)Lnet/minecraft/client/renderer/rendertype/RenderType; # create
