name: VoxelMap

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.17
        uses: actions/setup-java@v1
        with:
          java-version: 1.17
      - name: Build with Gradle
        run: ./gradlew
      - uses: actions/upload-artifact@v2
        with:
          name: voxelMap
          path: build/libs/*
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "VoxelMap"
          files: |
            build/libs/voxelmap-*([0-9\.\-]).jar